@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Rosarivo&display=swap");

/* Override default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General styles */

body {
  margin: 0;
  margin-top: 50px;
  font-family: Rosarivo, sans-serif;
  font-weight: 500;
}

h1 {
  color: #350604;
  padding-bottom: 100px;
}

h3 {
  color: #350604;
}

p {
  color: #3F0004;


}

/* Header */
header {
  display: flex;
  position: sticky;
  top: 0;
  left: 0;
  height: 50px;
  line-height: 50px;
  background-color: white;


}

Header * {
  display: inline;
  height: auto;

}

/* Navigation Bar */

nav {
  margin-left: auto;
  margin-right: 40px;
  letter-spacing: 2px;
  word-spacing: 6px;


}

nav a {
  color: #350604;
  text-decoration: none !important;
  list-style-type: none !important;
}

/* Logotype */

.logo {
  display: flex;
  cursor: pointer;
  padding-left: 2%;

}

/* Main content */



section {
  height: 100vh;
  border: 1px groove black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}




/* Background images for all 3 pages */

#home {
  background-image: linear-gradient(rgba(255, 255, 255, 0.75),
      rgba(255, 255, 255, 0.75)),
    url('../images/hero-image.jpg');
}

#inspiration {
  background-image: radial-gradient(rgba(255, 255, 255, 0.75),
      rgba(255, 255, 255, 0.75)),
    url('../images/yoga-in-nature.jpg');
}

#signup {
  background-image: linear-gradient(rgba(255, 255, 255, 0.75),
      rgba(255, 255, 255, 0.75)),
    url('../images/yoga-in-studio.jpg');
}

/* Signup form styles */

#signup-form {
  width: 100%;
  padding: 100px;
  margin: 8px 0;
  box-sizing: border-box;
  color: #350604;

}

.text-input {
  font-weight: 500;
  padding: 3%;

}

.signup-button {
  font-family: Rosarivo, sans-serif;
  font-weight: 500;
  padding: 3%;
  margin: 3%;
  color: #350604;

}





.section-1 .section-2 .section-3 {
  margin: 40px;
  margin-top: -500px;
}

#home,
#inspiration,
#signup {
  border-radius: 25%;
  padding: 10%;
}


footer {
  text-align: center;
  list-style: none;
  padding-top: 3%;
  padding-bottom: 3%;

}

footer a {
  text-decoration: none;
  color: #350604;
}


.horizontal-list {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;



}
